doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    title About Page 
body 
    div 
        h1 Pug Demo 
        p About me page for class demo 
        p welcome visitor no. !{visitorNo}
        ul 
        each book in books 
            li=book.author
    div 
        if condition 
            p text to show if condition is true 
        else
            p text to show if condition is false